/* -- Variables --- */
:root {
  --almost-black: #212121;
  --almost-white: #ececec;
  --almost-blue: #2196f3;
  --almost-blue-dark: #188ce8;
  --almost-gray: #757575;
  --dark-gray: #2f303a;
  --eee: #eeeeee;
}

.btn {
  background-color: var(--almost-blue);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
}
.btn:hover, .btn:focus {
  background-color: var(--almost-blue-dark);
}
/* --- General --- */
body {
  /* width: 1600px; */
  /* margin: 0 auto; */
  color: var(--almost-black);
  font-size: 14px;
  background-color: white;
  /* background-color: var(--almost-white); */
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

button {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 215px;
  }
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  /* font-weight: 700; */
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--almost-blue);
}
.logo--black {
  color: var(--almost-black);
}
.logo--white {
  color: white;
}
.logo--almost-blue {
  color: var(--almost-blue);
}

/* --- Header --- */
.header {
  background-color: white;
  border: 1px solid var(--almost-white);
  font-weight: 500;
  /* height: 80px; */
}
.header__logo {
  margin-right: 90px;
  padding: 24px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* border: 1px solid #000000; */
  height: 80px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__link {
  font-size: 14px;
  line-height: 1.2307692308;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--almost-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link:hover, .header__link:focus {
  color: var(--almost-blue);
}
.header__icon {
  margin-right: 10px;
}
.header__link:hover .header__icon, .header__link:focus .header__icon {
  fill: var(--almost-blue);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  color: var(--almost-black);
  padding: 32px 0;
  position: relative;
}
.nav__link:hover, .nav__link:focus {
  color: var(--almost-blue);
}
.nav__link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: var(--almost-blue);
}

/* --- Footer --- */
.footer {
  background-color: var(--dark-gray);
  padding: 60px 0;
}
.footer__container {
  /* padding-top: 60px; */
  /* border: 1px solid black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  display: block;
  /* padding-top: 60px; */
  margin-bottom: 20px;
}

.adress {
  font-style: normal;
}
.adress__item {
  font-size: 14px;
  line-height: 1.7142857143;
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.adress__link {
  font-size: 14px;
  line-height: 1.7142857143;
  color: rgba(255, 255, 255, 0.6);
}
.adress__link:hover, .adress__link:focus {
  color: white;
}

.contacts {
  margin-left: 70px;
}
.contacts__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.875;
  letter-spacing: 0.03em;
  color: white;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.contacts__item:not(:last-child) {
  margin-right: 10px;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.contacts__link:hover, .contacts__link:focus {
  background-color: var(--almost-blue);
}
.contacts__icon {
  fill: white;
}

.spam {
  margin-left: 93px;
}
.spam .spam__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}
.spam__inputs {
  margin-top: 20px;
  /* height: 50px; */
}
.spam__mail {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  min-width: 358px;
  margin-right: 12px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}
.spam__btn {
  width: 200px;
  height: 50px;
}
.spam__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.spam__btn-icon {
  fill: white;
  margin-left: 10px;
}

/* --- Modal --- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 900;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  background-color: white;
  z-index: 1000;
}
.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__btn-icon {
  fill: black;
}
.modal__close-btn:hover .modal__btn-icon, .modal__close-btn:focus .modal__btn-icon {
  fill: var(--almost-blue);
}
.modal__title {
  margin-bottom: 12px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* height: 100%; */
  padding: 40px;
  color: var(--almost-gray);
}
.modal__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.modal__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  fill: var(--almost-black);
}
.modal__label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.modal__label:not(:last-child) {
  margin-bottom: 10px;
}
.modal__span {
  margin-bottom: 4px;
}
.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 42px;
  width: 100%;
  border-radius: 4px;
  height: 40px;
}
.modal__input:focus, .modal__input:hover {
  border-color: var(--almost-blue);
  outline: 1 solid var(--almost-blue);
}
.modal__input:focus + .modal__icon, .modal__input:hover + .modal__icon {
  fill: var(--almost-blue);
}
.modal__textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  height: 120px;
}
.modal__textarea:focus, .modal__textarea:hover {
  border-color: var(--almost-blue);
  outline: 1 solid var(--almost-blue);
}
.modal__textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal__textarea::-moz-placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal__textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal__textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal__textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal__checkbox-label {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.modal__checkbox-icon {
  margin-right: 7px;
}
.modal__checkbox-icon .unchecked {
  opacity: 1;
  -webkit-transition: 250ms;
  transition: 250ms;
}
.modal__checkbox-icon .checked {
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}
.modal__checkbox:checked + .modal__checkbox-icon .unchecked {
  opacity: 0;
}
.modal__checkbox:checked + .modal__checkbox-icon .checked {
  opacity: 1;
}
.modal__link {
  color: var(--almost-blue);
}
.modal__btn {
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main {
  width: 100%;
}

/* --- Hero --- */
.hero {
  margin: auto;
  text-align: center;
  background-color: var(--dark-gray);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.3137254902)), to(rgba(47, 48, 58, 0.3137254902))), url("../images/hero_bg.jpg");
  background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.3137254902), rgba(47, 48, 58, 0.3137254902)), url("../images/hero_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 118px 60px;
}
.hero__container {
  padding: 0;
  width: 360px;
}
.hero__item {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: white;
}
.hero__btn {
  height: 50px;
  width: 200px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
  }
  .hero__item {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
  .hero__container {
    width: 696px;
  }
  .hero__btn {
    height: 50px;
    width: 216px;
  }
}

/* --- Benefits --- */
.benefits {
  padding: 60px 0;
}
.benefits__title {
  visibility: hidden;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.benefits__item {
  width: 450px;
  /* margin: 30px; */
}
.benefits__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.benefits__item-title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}
.benefits__item-text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--almost-gray);
}
@media screen and (min-width: 768px) {
  .benefits__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits__item {
    width: 354px;
  }
  .benefits__icon-container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 0;
  }
  .benefits__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .benefits__item {
    width: 270px;
  }
  .benefits__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .benefits__icon-container {
    width: 270px;
  }
  .benefits__item-title {
    text-align: left;
  }
}

/* --- About --- */
.about {
  padding: 94px 0;
}
.about__title {
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__item {
  position: relative;
}
.about__textblock {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
}

/* --- Team --- */
.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}
.team__title {
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team__list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__item {
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__block {
  padding: 30px 0;
}
.team__item-title {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__item-text {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--almost-gray);
  margin-bottom: 16px;
}
.team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
}
.team__link:hover, .team__link:focus {
  background-color: var(--almost-blue);
}
.team__icon {
  fill: #afb1b8;
}
.team__link:hover .team__icon, .team__link:focus .team__icon {
  fill: white;
}

/* --- Regulars --- */
.regulars {
  padding: 94px 0;
}
.regulars__title {
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.regulars__list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.regulars__link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}
.regulars__link:hover, .regulars__link:focus {
  border-color: var(--almost-blue);
  color: var(--almost-blue);
}
.regulars__icon {
  fill: currentColor;
  /* padding: 16px 32px; */
}

/* --- Portfolio --- */
.portfolio {
  padding: 94px 0;
}
.portfolio__title {
  visibility: hidden;
}

/* --- Filters --- */
.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filters__item {
  padding: 0 4px;
}
.filters_btn {
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
}
.filters_btn:hover, .filters_btn:focus {
  color: white;
  background-color: var(--almost-blue);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Works */
.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 0;
}
.works__container {
  margin-top: 34px;
  margin-bottom: 94px;
}
.works__item {
  /* border: 1px solid var(--eee); */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.works__item:hover, .works__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  /* transform: rotate(720deg); */
  /* transform: scale(1.01); */
}
.works__item:hover .works__overlay, .works__item:focus .works__overlay {
  /* transform: translateY(0); */
  /* opacity: 1; */
  top: 0;
}
.works__link {
  color: var(--almost-black);
}
.works__overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  top: 100%;
  left: 0;
  background-color: rgba(33, 150, 243, 0.8980392157);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: white;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  /* opacity: 0; */
  /* transform: translateY(101%); */
}
.works__overlay-text {
  margin: 0 24px;
}
.works__block {
  padding: 20px 24px;
  border-bottom: 1px solid var(--eee);
  border-right: 1px solid var(--eee);
  border-left: 1px solid var(--eee);
  /* border: 1px solid var(--eee); */
  background-color: white;
  position: relative;
  z-index: 2;
}
.works__item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.works__item-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--almost-gray);
}/*# sourceMappingURL=main.css.map */