.spam {
  // width: 100%;

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
    // width: auto;
  }

  .spam__title {
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;

    text-transform: uppercase;

    color: white;
  }

  &__inputs {
    margin-top: 20px;

    /* height: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;

    // width: 100%;

    @media screen and (min-width: $desktop) {
      flex-direction: row;
      // width: auto;
    }
  }

  &__mail {
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    height: 50px;
    min-width: 358px;
    width: 450px;

    @media screen and (min-width: $desktop) {
      margin-right: 12px;
    }

    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;

    color: white;
  }

  &__btn {
    width: 200px;
    height: 50px;

    margin-top: 20px;
    @media screen and (min-width: $desktop) {
      margin-top: 0;
    }
  }

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-icon {
    fill: white;
    margin-left: 10px;
  }
}
