/* Works */

.works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 0;

  &__container {
    margin-top: 34px;
    margin-bottom: 94px;
  }

  &__item {
    /* border: 1px solid var(--eee); */
    box-sizing: border-box;

    position: relative;
    overflow: hidden;

    width: calc(100vw - 30px);
    @media screen and (min-width: $mobile) {
      width: 450px;
    }
    @media screen and (min-width: $tablet) {
      width: 354px;
    }
    @media screen and (min-width: $desktop) {
      width: 370px;
    }
  }

  &__img {
    width: 100%;
    height: 294px;
    object-fit: cover;
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    /* transform: rotate(720deg); */
    /* transform: scale(1.01); */
  }

  &__item:hover &__overlay,
  &__item:focus &__overlay {
    /* transform: translateY(0); */
    /* opacity: 1; */
    top: 0;
  }

  &__link {
    color: var(--almost-black);
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 294px;
    top: 100%;
    left: 0;

    background-color: #2196f3e5;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    line-height: calc(28 / 14);
    letter-spacing: 0.03em;
    color: white;

    transition-property: top;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    /* opacity: 0; */

    /* transform: translateY(101%); */
  }

  &__overlay-text {
    margin: 0 24px;
  }

  &__block {
    padding: 20px 24px;

    border-bottom: 1px solid var(--eee);
    border-right: 1px solid var(--eee);
    border-left: 1px solid var(--eee);
    /* border: 1px solid var(--eee); */

    background-color: white;

    position: relative;
    z-index: 2;
  }

  &__item-title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

    margin-bottom: 4px;
  }

  &__item-text {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;

    color: var(--almost-gray);
  }
}
