/* -- Variables --- */

:root {
  --almost-black: #212121;
  --almost-white: #ececec;
  --almost-blue: #2196f3;
  --almost-blue-dark: #188ce8;
  --almost-gray: #757575;
  --dark-gray: #2f303a;
  --eee: #eeeeee;
}
